body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book-box {
  height: 100%;
  text-align: center;
  margin-bottom:20px;
  padding-bottom:10px;
}

.filter-row {
  padding-top:10px;
}

.filter-button {
  padding: 2px !important;
  background: grey;
  border: white solid 5px;
  text-align: center;
}

.inner-filter-button {
  background: white;
  padding:2px
}

.add-book-button {
  padding: 20px 0px 0px 40px;
}

.menu-line {
  margin: 10px 100px;
  border: black solid 1px;
}

.latestBooks {
  text-align: center;
  height: 400px;
  padding-left: 0px !important;
}

.bookend {
  padding-right: 0px !important;
  height:400px;
}

.latestContent {
  margin:50px 0 50px 0;
}

.info-box {
  border: 2px black solid;
  height: 100px;
  text-align: center;
  margin-top:20px;
}

.latestBook {
  vertical-align: bottom; 
  border: black solid 1px; 
  display:inline-block;

}
.book1 {
  width:22%; 
  height: 400px; 
}
.book2 {
  width:19%; 
  height: 340px; 
}
.book3 {
  width:14%; 
  height: 370px; 
}
.book4 {
  width:17%; 
  height: 310px; 
}
.book5 {
  width:20%; 
  height: 380px; 
}